<!--<beans:beans xmlns="http://www.springframework.org/schema/security"-->
<!--             xmlns:beans="http://www.springframework.org/schema/beans"-->
<!--             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">-->

<!--    <http pattern="/resources/**" security="none"/>-->
<!--    <http pattern="/webjars/**" security="none"/>-->

<!--    <http pattern="/orders/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">-->
<!--        <http-basic/>-->
<!--        <intercept-url pattern="/**/user/**" access="hasRole('USER')"/>-->
<!--        <intercept-url pattern="/**" access="isAuthenticated()"/>-->
<!--&lt;!&ndash;        <form-login login-page="/login" default-target-url="/"&ndash;&gt;-->
<!--&lt;!&ndash;                    authentication-failure-url="/login?error=true"&ndash;&gt;-->
<!--&lt;!&ndash;                    login-processing-url="/spring_security_check"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <logout/>&ndash;&gt;-->
<!--&lt;!&ndash;        <csrf disabled="true"/>&ndash;&gt;-->
<!--    </http>-->

<!--    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>-->

<!--    <authentication-manager>-->
<!--        <authentication-provider>-->
<!--            <password-encoder ref="noopEncoder"/>-->
<!--            <user-service>-->
<!--                <user name="user" password="user" authorities="ROLE_USER"/>-->
<!--                <user name="admin" password="admin" authorities="ROLE_ADMIN"/>-->
<!--            </user-service>-->
<!--        </authentication-provider>-->
<!--    </authentication-manager>-->
<!--</beans:beans>-->