<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Orders </title>
</head>
<body>
<div th:if="${param.error}" >
    <div class="message" style="color: red">Invalid username and password.</div>
</div>
<div th:if="${param.logout}">
    <div class="message" style="color: blue">You have been logged out.</div>
</div>
<br/>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <br/>
    <div><label> Password  : <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

</div>
</body>
</html>