<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Add Order</title>

</head>
<body>
<h1>Order:</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/operator}" th:object="${request}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{text}"/>
    Status:
        <select th:field="*{status}">
            <option th:value="'RECEIVED'" th:text="RECEIVED"></option>
            <option th:value="'REJECTED'" th:text="REJECTED"></option>
        </select>
    </div>
    <br/>
    <br/>
    <br/>
    Text:
    <th:block th:utext="${text}"/>

    <input type="submit" value="Save"/>

    <button onclick="window.history.back()" type="button">Cancel</button>
</form>

<br/>


</body>
</html>