<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Order</title>

</head>
<body>
<h1>Order:</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/orders}" th:object="${request}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    Status:
    <select th:field="*{status}">
        <option th:value="'RECEIVED'" th:text="RECEIVED"></option>
        <option th:value="'REJECTED'" th:text="REJECTED"></option>
    </select>
    Text:
    <input type="text" th:field="*{text}"/>

    <input type="submit" value="Create"/>

    <button onclick="window.history.back()" type="button">Cancel</button>
</form>

<br/>


</body>
</html>