<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div sec:authorize="hasRole('USER')">
    <div sec:authorize="hasRole('OPERATOR')">
        <a href="/orders">User</a>
    </div>
</div>

<div sec:authorize="hasRole('USER')">
    <div sec:authorize="hasRole('OPERATOR')">
        <a href="/operator">Operator</a>
    </div>
</div>

<h1>Orders</h1>
<div sec:authorize="hasRole('USER')">
    <a href="/orders/create">Add Order</a>
</div>

<br/><br/>

<form th:action="@{/orders}" method="GET">
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Date</th>
            <div sec:authorize="hasRole('USER')">
                <th>View and Update</th>
                <th>Send</th>
            </div>
            <div sec:authorize="hasRole('OPERATOR')">
                <th>View and change status</th>
            </div>

        </tr>
        <tr th:each="order : ${orders}">
            <td th:utext="${order.id}">...</td>
            <td th:utext="${order.status}">...</td>
            <td th:utext="${order.registration}">...</td>
            <div sec:authorize="hasRole('USER')">
                <td><a th:href="@{'/orders/' + ${order.id} +'/update'}">View and Update</a></td>
                <td><a th:href="@{'/orders/' + ${order.id} +'/send'}">Sent</a></td>
            </div>
            <div sec:authorize="hasRole('OPERATOR')">
                <td><a th:href="@{'/operator/change-status/' + ${order.id}}">View and change status</a></td>
            </div>
        </tr>
    </table>
</form>
</div>
</body>
</html>