<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Orders</h1>
<a href="orders/create">Add Person</a>
<br/><br/>

<form>
    <form th:action="@{/orders}" method="GET">
    <table border="1">
        <tr>
            <th>id</th>
            <th>Status</th>
            <th>Text</th>
        </tr>
        <tr th:each ="order : ${orders}">
            <td th:utext="${order.id}">...</td>
            <td th:utext="${order.status}">...</td>
            <td th:utext="${order.text}">...</td>

        </tr>
    </table>
</form>
</div>
</body>
</html>